<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
<div class="jumbotron bg-cover jumbotron-fluid" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(https://images.pexels.com/photos/2127433/pexels-photo-2127433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">

  <h1 class="display-3 text-center">KittyBae</h1>
  <p class="lead text-center">Explore our unique collection of kittens pictures from the cutest Abyssian to the mesmerizing Bengal </p>
  
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Browse</a> 
  </p>
</div>

<div class="card-deck">
<div class="container">
    <div class="row">

     <% @items.each do |item| %>
      <div class="col">
    <a href= "<%= "items/#{item.id}"%>" style="text-decoration: none"><div class="card mb-3" s>
    	<img class="card-image" src="https://images.pexels.com/photos/127028/pexels-photo-127028.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
     
      <div class="card-body">
        <h4 class="card-title"><%= item.name.capitalize %></h4>
        
        <span class="badge badge-pill badge-secondary"><%= item.price %>€</span>
      </div>
    </div></a>
  </div>
     <% end %>
    </div>
</div>
</div>
</body>
</html>
